@font-face {
    font-family: 'farrington';
    src: url("../fonts/Farrington-7B-Qiqi.eot");
    src: url("../fonts/Farrington-7B-Qiqi.eot?#iefix") format("embedded-opentype"), url("../fonts/Farrington-7B-Qiqi.woff") format("woff"), url("../fonts/Farrington-7B-Qiqi.ttf") format("truetype"), url("../fonts/Farrington-7B-Qiqi.svg#Farrington-7B-Qiqi-") format("svg");
    font-weight: normal;
    font-style: normal
}

.test {
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 30px;
    color: #fff;
    background: #000;
    text-shadow: 0 1px hsl(0, 0%, 85%),
    0 2px hsl(0, 0%, 80%),
    0 3px hsl(0, 0%, 75%),
    0 4px hsl(0, 0%, 70%),
    0 5px hsl(0, 0%, 65%),
    0 5px 10px black;
}

#result {
    display: none;
    position: relative;
}

#creditCard {
    margin: 50px auto 0;
    color: white;
    width: 28.7rem;
    height: 18.2rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    border-radius: 1rem;
}

.amex {
    background-color: #9ac2b0;
}

.visa {
    background-color: #173488;
}

.mastercard {
    background-color: black;
}

#chip {
    position: relative;
    width: 3.6rem;
    height: 2.8rem;
    top: 6.3rem;
    left: 3.2rem;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    border-radius: 0.4rem;
    background-color: #B3B6AF;
    border: 1px solid black;
}

#chip > div {
    height: 0.9rem;
    width: 1.3rem;
    border: 0.04rem solid black;
    border-top: 0;
    border-bottom: 0;
}

.left {
    float: left;
    border-left: 0 !important;
    border-radius: 0 1rem 1rem 0;
}

.right {
    float: right;
    border-right: 0 !important;
    border-radius: 1rem 0 0 1rem;
}

.middle {
    border-top: 0.04rem solid black !important;
    border-bottom: 0.04rem solid black !important;
}

.top {
    width: 1.4rem !important;
}

.bottom {
    width: 1.4rem !important;
}

#cardNumber {
    position: relative;
    font-family: 'farrington', monospace;
    font-size: 1.2rem;
    letter-spacing: 0.4rem;
    text-shadow: -0.1rem -0.1rem 0 rgba(255, 255, 255, 0.3), 0.1rem 0.1rem 0 rgba(0, 0, 0, 0.8);
    color: #d7d7d7;
    font-weight: 100;
    top: 6.1rem;
}

#additional {
    position: relative;
    top: 6.9rem;
}

#expires {
    position: absolute;
    left: 10rem;
    font-size: 0.5rem;
    width: 2.5rem;
    text-transform: uppercase;
    text-align: left;
    display: inline-flex;
}

#expiryDate {
    position: absolute;
    left: 12rem;
    top: -0.45rem;
    font-family: 'farrington', monospace;
    font-size: 1.4rem;
    letter-spacing: 0.3rem;
    text-shadow: -0.1rem -0.1rem 0 rgba(255, 255, 255, 0.3), 0.1rem 0.1rem 0 rgba(0, 0, 0, 0.8);
    color: #d7d7d7;
    font-weight: 100;
}

.separator {
    position: relative;
    top: 0.1rem;
}

#expiryMonth {
    font-size: 0.9rem;
    padding-left: 1rem;
}

#expiryYear {
    font-size: 0.9rem;
    padding-right: 1rem;
}

#cvv {
    position: absolute;
    left: 18.5rem;
    font-size: 0.5rem;
    width: 1.5rem;
    text-transform: uppercase;
    text-align: left;
    display: inline-flex;
}

#cardCVV {
    position: absolute;
    left: 20rem;
    font-family: 'farrington', monospace;
    font-size: 0.9rem;
    letter-spacing: 0.4rem;
    text-shadow: -0.1rem -0.1rem 0 rgba(255, 255, 255, 0.3), 0.1rem 0.1rem 0 rgba(0, 0, 0, 0.8);
    color: #d7d7d7;
    font-weight: 100;
}

body {
    text-align: center;
    font-size: 10px;
}